/* 
* common
*/
html {
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    position: relative;
}

h1 {
    font-family: "Russo One", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
h2,
h3,
h4,
h5,
h6 {
    font-family: "Jura", sans-serif;
    font-style: normal;
}
h3 {
    font-size: 1.5em;
    font-weight: 700;
}
h4 {
    font-size: 1.2em;
    font-weight: 700;
}
p,
li,
a,
label,
input,
textarea,
button,
div {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}
ul,
menu {
    list-style: none;
    padding: 0;
}

/* 
* header
*/
header {
    position: fixed;
    width: 100%;
    z-index: 9999;
    font-family: "Jura", sans-serif;
}
header>div {
    display: flex;
    justify-content: space-between;
    padding: .5em 4rem;
    align-items: center;
}

header img {
    height: 40px;

}

header nav menu {
    display: flex;
    justify-content: space-between;
}

header nav menu li {
    margin-right: 1.2em;
    position: relative;
}

header nav menu li:last-child {
    margin-right: 0;
}

header nav menu>li>a {
    font-family: "Jura", sans-serif;
    font-weight: 500;
    color: #e0e0e0;
    font-size: 1.1em;
}

header nav menu>li:hover>a {
    color: #fff;
    border-bottom: #f4c603 solid 2px;
    padding-bottom: .1em;
    transition: all .3s ease;
}

header nav menu>li:nth-child(3):hover>a {
    border-bottom: 0;
}

header nav menu li a.active {
    border-bottom: #f4c603 solid 2px;
    padding-bottom: .1em;
}

/* dropdown menu */
nav menu li .dropdown {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 1em;
    top: .6em;
    left: 0;
    display: none;
    background: #f8f8f8;
    transition: all .25s linear;
    border-radius: 7px;
}
nav menu li:hover>.dropdown,
nav menu li .dropdown:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 200px;
    text-align: left;
    padding-top: 1rem;
}
nav menu li .dropdown li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 1rem;
    border-style: none;
}

header nav menu li .dropdown a {
    transition: all .5s ease;
    color: #1e1d1d;
    font-size: 1em;
}

nav menu li .dropdown li a:hover {
    color: #7a7a7a;
    border-bottom: 2px solid #f4c603;
    padding-bottom: .1em;
    transition: all .3s ease;
}

header nav menu li .dropdown a span {
    display: none;
    opacity: 0;
    color: #f4c603;
    margin-right: .5em;
}
header nav menu li .dropdown a:hover span {
    display: inline;
    opacity: 1;
    transition: all .5s ease;
}

/* scrolled */
.scrolled header {
    background-color: #f0f8ff;
    transition: 1s;
}

.scrolled header nav menu li a {
    color: #1e1d1d;
}

/* 
** masthead
*/
.masthead {
    position: relative;
    overflow: hidden;
    filter: contrast(70%);
}

.home .masthead {
    background: url("../image/hero.jpeg") no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subpage .masthead {
    background: url("../image/page-title.jpeg") no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 2rem 0;
}

.masthead h1 {
    font-size: 3em;
    text-align: center;
    color: #f0f8ff;
    text-shadow: 4px 3px 3px rgba(0, 0, 0, .8);
    letter-spacing: 2px;
}

/* 
* main common
*/

main h2 {
    font-size: 2.5em;
    text-align: center;
    margin-top: 0;
}

main section {
    padding: 3rem 5rem;
}

/* 
* home page
*/
.home main section>div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 4rem;
}

/* services section */
main section.services .service {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    padding: 2rem;
}

main section.services .service>div {
    display: inline-block;
    background-color: #f4c603;
    width: 8em;
    height: 8em;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
}

main section.services .service>div i {
    color: #f3f3f3;
    position: absolute;
    top: 50%;
    left: 50%;
}

main section.services .service>div i.sev-icon {
    font-size: 4em;
    transform: translate(-50%, -50%);
}

main section.services .service>div i.focus {
    display: none;
    opacity: 0;
    font-size: 2em;
    transform: translate(-50%, -70%);
}

main section.services .service:nth-child(2)>div i.focus {
    transform: translate(-50%, -100%);
}

main section.services .service>div span {
    display: none;
    opacity: 0;
    color: #fff;
    position: absolute;
    bottom: 25%;
    left: 20%
}
main section.services .service:nth-child(2)>div span {
    bottom: 20%;
}

main section.services .service>div:hover i.sev-icon {
    display: none;
}

main section.services .service>div:hover i.focus {
    display: inline;
    opacity: 1;
    transition: all .3s ease-in;
}

main section.services .service>div:hover span {
    display: inline;
    opacity: 1;
    transition: all .3s ease-in;
}

/* products section */
main section.products {
    background-color: #f3f3f3;
}

/* cards */
.card-row {
    grid-gap: 3rem;
    text-align: center;
}
.card-row>div {
    border-radius: 8px;
    color: #1e1d1d;
    font-size: 1em;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
}

.card-row>div>div {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.card-row img {
    width: 100%;
    margin: auto;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #1e1d1d;
}

.card-row div:hover img {
    transform: scale(1.3);
    opacity: .8;
}

.card-row div h3 {
    margin-left: 2em;
    margin-right: 2em;
}

.card-row div p:last-child {
    bottom: 10%;
}
.card-row div p a {
    font-size: .9em;
    color: #f4c603;
}

.card-row div p a:hover {
    font-size: 1em;
    text-decoration: underline;
}


/* 
* about page
*/
.subpage main section.about {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 960px;
    margin: 0 auto;
}
.subpage main section.about>div:nth-child(1) {
    display: flex;
    flex-direction: column;
}
.subpage main section.about>div:nth-child(1)>div {
    background-color: #f2ecec;
    padding: 2rem;
}

.subpage main section.about h2 {
    text-align: left;
    color: #10054c;
}
.subpage main section.about h3,
.subpage main section.about h4 {
    margin: 0;
}
.subpage main section.about p {
    line-height: 1.2em;
    letter-spacing: .1em;
}
.subpage main section.about h4 {
    color: #7a7a7a;
}

.supage main section.about img {
    width: 100%;

}


/* 
* contact page
*/
.contact-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
}

.form-item {
    border-top: 1px solid #ddd;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 100%;
    display: flex;
    align-items: center;
}
.form-item:nth-child(4) {
    border-bottom: 1px solid #ddd;
}
.label {
    width: 100%;
    max-width: 248px;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 1.1em;
}
.label.label-message {
    margin-top: 8px;
    margin-bottom: auto;
}
.form-base {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 2rem;
    padding-left: 1em;
    padding-right: 1em;
    flex: 1;
    width: 100%;
    max-width: 410px;
    background: #eaedf2;
    font-size: 1.1em;
}
.form-input {
    height: 48px;
}
.form-textarea {
    padding-top: .5em;
    height: 216px;
}
.form-btn {
    border-radius: 6px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 3.5rem;
    display: block;
    letter-spacing: 0.05em;
    background-color: #f4c603;
    color: #f3f3f3;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    border-color: #efefef;
}
.form-btn:hover {
    opacity: .8;
}


/* 
* footer
*/
footer {
    color: #ffffe5;
    background: url("../image/footer-bg.jpg") top center no-repeat;
    background-size: cover;
    padding: 4rem;
    position: relative;
    filter: contrast(50%);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .8);
}
footer h3 {
    font-size: 1.3em;
    text-align: center;
    margin: 0 0 .5rem;
    letter-spacing: 1px;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
}

footer p {
    font-weight: 400;
    margin: 0 0 .3rem;
    text-align: center;
}

footer .icons ul {
    display: flex;
    justify-content: center;
    margin: 0;
}

footer .icons ul li {
    margin-right: .5rem;
}

footer .icons ul li:last-child {
    margin-right: 0;
}

footer .icons ul li a {
    font-size: 1em;
    color: #ffffe5;
}