/* 
** common
*/

body {
    background: url('../image/dawn.jpg') no-repeat center center;
    background-size: cover;
    height: auto;
}

p {
    color: #dbf8fa;
}

/* section */
.music {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5rem 0 6rem;
    text-align: center;
}

/* header title of the song */
.music h1 {
    font-size: 4.5rem;
    color: #f8f8f8;
    margin-bottom: 3rem;
}

/* lyric */
.music p.lyric {
    font-size: 1.1rem;
    margin: 1.5rem 0;
    line-height: 1.5rem
}

/* footer */
footer {
    padding: 2rem 0 2.5rem;
    background-color: rgba(64, 64, 64, 0.7);
}

footer>p {
    font-size: 1.2rem;
    text-align: center;
}